﻿

<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_1.jpg);">
	<div class="container">

		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								<strong class="number" data-number="@ViewBag.testimonialcount">@ViewBag.testimonialcount</strong>
								<span>Müşteriler</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								<strong class="number" data-number="@ViewBag.propertiescount">@ViewBag.propertiescount</strong>
								<span>İlanlar</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								<strong class="number" data-number="@ViewBag.agentcount">@ViewBag.agentcount</strong>
								<span>Emlakçılar</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								<strong class="number" data-number="@ViewBag.rentcount">@ViewBag.rentcount</strong>
								<span>Kiralık İlanlar</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>